<div id="feature" class="section section--feature section--noPadding section--right section--p5xc7rttscgx27m4" style="background-color:rgb(10, 10, 10);--pdx-min-height:0px;--wr-max:1030px">
	<div class="ft ft--right" style="--pdx-pt:0;--pdx-pb:0">
		<div class="ft__half pdx pdxParent--img-transparent" style="--pdx-maxheight:1">
			<div class="pdxItem pdxItem--img-transparent">
				<%= image_tag 'medias/lnclass-desktop.png' %>
			</div>
		</div>
		<div class="ft__half">
			<div class="ft__wrapper" style="max-width:485px">
				<div class="ft__content text-white">

					<h2 class="color-1 weight-title-h font-title section__title right ">
						Explications des léçons terre a terre.
					</h2>
					<p class="weight-text section__subtitle right" style="margin-bottom:0">
						Comprendre L'essentiels de chaque léçon
					</p>
					<div class="ft__description ">
						<div class="ftPoint">
							<div class="iconWrapper medium circle" style="width:34px;height:34px">
								<svg class="backdrop" width="34" height="34" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
									<circle cx="40" cy="42" r="14" transform="translate(-26 -28)" fill="#e9ecef" fill-rule="nonzero"></circle>
								</svg>
								<div class="icon medium" style="height:34px;width:34px;background-image:url()"></div>
							</div>
							<div class="ftPoint__meta">
								<h3 class="ftPoint__title color-1 weight-text-m">Plan détaillé</h3>
								<div class="ftPoint__description">
									<p>
										Avec nous, Pas trop de théorie, nous sommes orienté vers la pratique 
									</p>
								</div>
							</div>
						</div>
						<div class="ftPoint">
							<div class="iconWrapper medium circle" style="width:34px;height:34px">
								<svg class="backdrop" width="34" height="34" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
									<circle cx="40" cy="42" r="14" transform="translate(-26 -28)" fill="#e9ecef" fill-rule="nonzero"></circle>
								</svg>
								<div class="icon medium" style="height:34px;width:34px;background-image:url()"></div>
							</div>
							<div class="ftPoint__meta">
								<h3 class="ftPoint__title color-1 weight-text-m">Savoir l'essentiel sur la léçon</h3>
								<div class="ftPoint__description">
									<p>
										En moins de 20 min, vous devez savoir les points a connaitres pour avoir de bonne notes en classe .
									</p>
								</div>
							</div>
						</div>
						<div class="ftPoint">
							<div class="iconWrapper medium circle" style="width:34px;height:34px">
								<svg class="backdrop" width="34" height="34" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
									<circle cx="40" cy="42" r="14" transform="translate(-26 -28)" fill="#e9ecef" fill-rule="nonzero"></circle>
								</svg>
								<svg class="icon" xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
									<polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline>
									<polyline points="17 6 23 6 23 12"></polyline>
								</svg>
							</div>
							<div class="ftPoint__meta">
								<h3 class="ftPoint__title color-1 weight-text-m">Niveau Avancé</h3>
								<div class="ftPoint__description">
									<p>
Apres tout, Les exercices de prépa interrogations ou Devoirs;

									</p>
								</div>
							</div>
						</div>
						<div class="ftChecks col-sec">
							<div class="ftCheck">
								<svg width="21px" height="17px" viewBox="0 0 21 17" version="1.1" xmlns="http://www.w3.org/2000/svg">
									<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<g id="ui-icons" transform="translate(-109.000000, -67.000000)" fill="#22BC66">
											<polygon id="check" points="108.994099 76.4000626 115.987848 83.419577 129.407253 69.9978283 126.587674 67.1592372 115.987848 77.7490936 111.827057 73.5894775"></polygon>
										</g>
									</g>
								</svg>
								Français
							</div>
							<div class="ftCheck">
								<svg width="21px" height="17px" viewBox="0 0 21 17" version="1.1" xmlns="http://www.w3.org/2000/svg">
									<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<g id="ui-icons" transform="translate(-109.000000, -67.000000)" fill="#22BC66">
											<polygon id="check" points="108.994099 76.4000626 115.987848 83.419577 129.407253 69.9978283 126.587674 67.1592372 115.987848 77.7490936 111.827057 73.5894775"></polygon>
										</g>
									</g>
								</svg>
								HG
							</div>
							<div class="ftCheck">
								<svg width="21px" height="17px" viewBox="0 0 21 17" version="1.1" xmlns="http://www.w3.org/2000/svg">
									<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<g id="ui-icons" transform="translate(-109.000000, -67.000000)" fill="#22BC66">
											<polygon id="check" points="108.994099 76.4000626 115.987848 83.419577 129.407253 69.9978283 126.587674 67.1592372 115.987848 77.7490936 111.827057 73.5894775"></polygon>
										</g>
									</g>
								</svg>
								Philo
							</div>
							<div class="ftCheck">
								<svg width="21px" height="17px" viewBox="0 0 21 17" version="1.1" xmlns="http://www.w3.org/2000/svg">
									<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<g id="ui-icons" transform="translate(-109.000000, -67.000000)" fill="#22BC66">
											<polygon id="check" points="108.994099 76.4000626 115.987848 83.419577 129.407253 69.9978283 126.587674 67.1592372 115.987848 77.7490936 111.827057 73.5894775"></polygon>
										</g>
									</g>
								</svg>
								Math
							</div>
							<div class="ftCheck">
								<svg width="21px" height="17px" viewBox="0 0 21 17" version="1.1" xmlns="http://www.w3.org/2000/svg">
									<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<g id="ui-icons" transform="translate(-109.000000, -67.000000)" fill="#22BC66">
											<polygon id="check" points="108.994099 76.4000626 115.987848 83.419577 129.407253 69.9978283 126.587674 67.1592372 115.987848 77.7490936 111.827057 73.5894775"></polygon>
										</g>
									</g>
								</svg>
								SVT
							</div>
							<div class="ftCheck">
								<svg width="21px" height="17px" viewBox="0 0 21 17" version="1.1" xmlns="http://www.w3.org/2000/svg">
									<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<g id="ui-icons" transform="translate(-109.000000, -67.000000)" fill="#22BC66">
											<polygon id="check" points="108.994099 76.4000626 115.987848 83.419577 129.407253 69.9978283 126.587674 67.1592372 115.987848 77.7490936 111.827057 73.5894775"></polygon>
										</g>
									</g>
								</svg>
								PC
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
