<div id="features" class="section section--features section--center" style="background-color:rgb(12, 11, 11);padding-bottom:60px;padding-top:60px;--pdx-min-height:0px;--wr-max:1030px">
	<div class="wr">
		<h2 class="color-1 weight-title-h font-title section__title center" style="margin-bottom:50px">En 3 etapes simples</h2>
		<div class="features features-trio features--left">
			<div class="feature">
				<!-- 
				<div class="icon small" style="height:24px;width:24px;background-image:url(lib_KFltsvRwwgmfvMAz/drpx5d4c1i2xcobr.svg?w=48&amp;h=48)">
				</div>
				-->
				<h3 class="feature__title color-1 weight-text-m">Feature one</h3>
				<div class="feature__description">
					<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
					</p>
				</div>
			</div>
			<div class="feature">
				<!-- 
				<div class="icon small" style="height:24px;width:24px;background-image:url(/lib_KFltsvRwwgmfvMAz/drpx5d4c1i2xcobr.svg?w=48&amp;h=48)"></div>
				-->
				<h3 class="feature__title color-1 weight-text-m">Feature two</h3>
				<div class="feature__description">
					<p>
						Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
					</p>
				</div>
			</div>
			<div class="feature">
			<!-- -->
			<!-- 
				<div class="icon small" style="height:24px;width:24px;background-image:url(/lib_KFltsvRwwgmfvMAz/62fjvv8xgm52lset.svg?w=48&amp;h=48)"></div>
			-->
				<h3 class="feature__title color-1 weight-text-m">Feature three</h3>
				<div class="feature__description">
					<p>
						In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
