<div id="features" class="section section--features section--center" style="background-color:rgb(12, 11, 11);padding-bottom:60px;padding-top:60px;--pdx-min-height:0px;--wr-max:1030px">
	<div class="wr">
		<h2 class="color-1 weight-title-h font-title section__title center" style="margin-bottom:50px">En 3 etapes simples</h2>
		<div class="features features-trio features--left">
			<div class="feature">
			<!-- 
			-->
				<div class="icon small" style="height:24px;width:24px;background-image:url()"></div>
				<h3 class="feature__title color-1 weight-text-m">Notions Essentielles </h3>
				<div class="feature__description">
					<p>
						Les notions essentielles de la léçon detaillée avec des exemples pour faciliter le compréhension
					</p>
				</div>
			</div>
			<div class="feature">
			<!-- 
			-->
				<div class="icon small" style="height:24px;width:24px;background-image:url()"></div>
				<h3 class="feature__title color-1 weight-text-m">Les Interrogations et Dévoirs</h3>
				<div class="feature__description">
					<p>
					Commencons par les exrcices des cahiers d'habilétés pour comprendre les bases de le léçon, puis les exercices de niveau avancé pour preparer les interrogations et les dévoirs.
					
					</p>
				</div>
			</div>
			<div class="feature">
			<!--
			 -->
				<div class="icon small" style="height:24px;width:24px;background-image:url()"></div>
				<h3 class="feature__title color-1 weight-text-m">Questions-Reponse</h3>
				<div class="feature__description">
					<p>
						Lors vous etes bloqué, c'est important d'avoir des personnes qui peuvent vous aider, la parie Echange est disponible pour vos "Question et Reponses".
					</p>
				</div>
			</div>
		</div>
	</div>
</div>