<footer id="footer" class="section section--footer section--center section--e8inw6gf9c0q8d2p" style="background-color:rgb(6, 6, 6);padding-bottom:15px;padding-top:15px;--pdx-min-height:0px;--wr-max:1030px">
	<div class="wr">
		<div class="footer footer--simple flex w-full">
			<div class="footer__primary">
				<nav class="footer__linkRow"></nav>
				<span>© 2022 Lnclass Education</span>
			</div>
			<nav class="footer__linkRow flex ">
				<a href="#">Programme Ambassadeurs</a>
				<a href="#">Aide &amp; Contact</a>
				<a href="#">Conditions générales de vente</a>
				<a href="#">Mentions légales</a>
				<a href="#">Confidentialité</a>
			</nav>
		</div>
	</div>
</footer>