<div id="hero" class="section section--hero section--noPadding section--left section--udvmxtd9ux4yeraw" style="background-color:rgba(0, 0, 0, 0.94);--pdx-min-height:0px;--wr-max:1030px">
			<div id="headerSpacer" style="height:50px"></div>
			<script>
				!function(){
					var e,t=document.getElementById("header"),n=document.getElementById("headerSpacer");
					t&&n&&(e=t.getBoundingClientRect().height,n.setAttribute("style","height:"+e+"px"))
				}
			</script>
			<div class="ft ft--left" style="--pdx-pt:0;--pdx-pb:0">
				<div class="ft__half">
					<div class="ft__wrapper" style="max-width:485px">
						<div class="ft__content">
							<h1 class="hero__title text-white weight-title-h font-title">
							Si tu as 20 min pour étudier, tu validéra le BAC.</h1>
							<p class="hero__subtitle weight-text text-white">
								937 élèves admis au bac 2021-2022 sont passés avant toi 
							</p>
							<div class="ctas -mx-4">
								<%= link_to 'Inscrit-toi gratuitement pour commencer', "student-sign-up", class:"ln-button" %>
							</div>
						</div>
					</div>
				</div>
				<div class="ft__half pdx pdxParent--laptop-smartphone" style="--pdx-maxheight:1">
					<div class="pdxItem pdxItem--laptop-smartphone">
						<svg viewBox="0 0 1391 762" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<defs>
								<linearGradient x1="50%" y1="100%" x2="50%" y2="0%" id="frameLaptopThin-a">
									<stop stop-color="#FFF" offset="0%"></stop>
									<stop stop-color="#F1F2F4" offset="100%"></stop>
								</linearGradient>
								<path d="M166 0h1057c18.225 0 33 14.775 33 33v679c0 12.15-9.85 22-22 22H155c-12.15 0-22-9.85-22-22V33c0-18.225 14.775-33 33-33z" id="frameLaptopThin-b"></path>
								<filter x="-.8%" y="-1.2%" width="101.5%" height="102.3%" filterUnits="objectBoundingBox" id="frameLaptopThin-c">
									<feGaussianBlur stdDeviation="4" in="SourceAlpha" result="shadowBlurInner1"></feGaussianBlur>
									<feOffset dy="-9" in="shadowBlurInner1" result="shadowOffsetInner1"></feOffset>
									<feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
									<feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.0248033217 0" in="shadowInnerInner1" result="shadowMatrixInner1"></feColorMatrix>
									<feGaussianBlur stdDeviation="1.5" in="SourceAlpha" result="shadowBlurInner2"></feGaussianBlur>
									<feOffset in="shadowBlurInner2" result="shadowOffsetInner2"></feOffset>
									<feComposite in="shadowOffsetInner2" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner2"></feComposite>
									<feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.136636801 0" in="shadowInnerInner2" result="shadowMatrixInner2"></feColorMatrix>
									<feMerge>
										<feMergeNode in="shadowMatrixInner1"></feMergeNode>
										<feMergeNode in="shadowMatrixInner2"></feMergeNode>
									</feMerge>
								</filter>
								<path d="M303.477 740.075h776.702c195.565 0 299.171 7.333 310.821 22V763H0v-.925c31.315-14.667 132.474-22 303.477-22z" id="frameLaptopThin-d"></path>
								<filter x="-1.1%" y="-68.2%" width="102.2%" height="236.4%" filterUnits="objectBoundingBox" id="frameLaptopThin-e">
									<feGaussianBlur stdDeviation="9" in="SourceAlpha" result="shadowBlurInner1"></feGaussianBlur>
									<feOffset dy="12" in="shadowBlurInner1" result="shadowOffsetInner1"></feOffset>
									<feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
									<feColorMatrix values="0 0 0 0 0.88627451 0 0 0 0 0.888083393 0 0 0 0 0.890196078 0 0 0 1 0" in="shadowInnerInner1"></feColorMatrix>
								</filter>
							</defs>
							<g fill="none" fill-rule="evenodd">
								<g>
									<use fill="url(#frameLaptopThin-a)" xlink:href="#frameLaptopThin-b"></use>
									<use fill="#000" filter="url(#frameLaptopThin-c)" xlink:href="#frameLaptopThin-b"></use>
								</g>
								<path d="M182 33h1025c10.493 0 19 8.507 19 19v626c0 10.493-8.507 19-19 19H182c-10.493 0-19-8.507-19-19V52c0-10.493 8.507-19 19-19z" fill="transparent"></path>
								<path d="M3 729h1385a3 3 0 0 1 3 3v9H0v-9a3 3 0 0 1 3-3z" fill="#FFF"></path>
								<g transform="matrix(1 0 0 -1 0 1502)">
									<use fill="#FFF" xlink:href="#frameLaptopThin-d"></use>
									<use fill="#000" filter="url(#frameLaptopThin-e)" xlink:href="#frameLaptopThin-d"></use>
								</g>
							</g>
						</svg>
						<div class="pdxContent">
							<%= image_tag 'medias/lnclass-desktop.png' %>
						</div>
						<div class="pdxItem pdxItem--laptop-smartphone-phone">
							<svg viewBox="0 0 328 655" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="pdxPhone">
								<defs>
									<path d="M0 45.86C0 20.532 20.532 0 45.86 0h236.28C307.468 0 328 20.532 328 45.86v562.286c0 25.328-20.532 45.86-45.86 45.86H45.86c-25.328 0-45.86-20.532-45.86-45.86V45.86z" id="framePhoneThin-a"></path>
									<filter x="-.8%" y="-.4%" width="101.5%" height="100.8%" filterUnits="objectBoundingBox" id="framePhoneThin-b">
										<feGaussianBlur stdDeviation="2.5" in="SourceAlpha" result="shadowBlurInner1"></feGaussianBlur>
										<feOffset in="shadowBlurInner1" result="shadowOffsetInner1"></feOffset>
										<feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
										<feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.192881337 0" in="shadowInnerInner1"></feColorMatrix>
									</filter>
								</defs>
								<g fill="none" fill-rule="evenodd">
									<g>
										<use fill="#FFF" xlink:href="#framePhoneThin-a"></use>
										<use fill="#000" filter="url(#framePhoneThin-b)" xlink:href="#framePhoneThin-a"></use>
									</g>
									<path d="M14 47c0-18.778 15.222-34 34-34h232c18.778 0 34 15.222 34 34v560c0 18.778-15.222 34-34 34H48c-18.778 0-34-15.222-34-34V47z" fill="transparent" fill-rule="nonzero"></path>
								</g>
							</svg>
							<div class="pdxContent">
								<%= image_tag 'medias/lnclass-smartphone.png' %>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>