<div id="pricing" class="section section--pricing section--center section--14c72lr0upa3yany" style="background-color:rgb(3, 3, 3);padding-bottom:60px;padding-top:60px;--pdx-min-height:0px;--wr-max:1030px">
    <div class="wr">
        <h2 class="color-1 weight-title-h font-title section__title center">Tarification simple et transparente.</h2>

        <p class="weight-text section__subtitle center" style="margin-bottom:50px">
            Sachez toujours ce que vous allez payer
        </p>
        <div class="pricing">
            <div id="pricingTiers_14c72lr0upa3yany" class="pricingTiers active-a">
                <div class="pricingTierWrapper" style="box-shadow:0 2px 5px 0 rgba(0,0,0,0.15)">
                    <div class="pricingTier">
                        <h3 class="pricingTier__title color-1 weight-text-m">2 Matières</h3>
                        <p class="pricingTier__description">
                            2 matieres uniquement
                        </p>
                        <div class="pricingTier__price a">
                            <span class="price color-1">2000F</span>
                            <span class="interval">
                                <span class="intervalSlash">/</span>mois</span>
                        </div>
                        <ul class="pricingTier__features">
                            <li class="color-1">
                                <svg width="21px" height="17px" viewBox="0 0 21 17" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="ui-icons" transform="translate(-109.000000, -67.000000)" fill="#22BC66">
                                            <polygon id="check" points="108.994099 76.4000626 115.987848 83.419577 129.407253 69.9978283 126.587674 67.1592372 115.987848 77.7490936 111.827057 73.5894775"></polygon>
                                        </g>
                                    </g>
                                </svg>
                                Philosophie
                            </li>
                            <li class="color-1">
                                <svg width="21px" height="17px" viewBox="0 0 21 17" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="ui-icons" transform="translate(-109.000000, -67.000000)" fill="#22BC66">
                                            <polygon id="check" points="108.994099 76.4000626 115.987848 83.419577 129.407253 69.9978283 126.587674 67.1592372 115.987848 77.7490936 111.827057 73.5894775"></polygon>
                                        </g>
                                    </g>
                                </svg>
                                Histoire-Géographie

                            </li>
                            <li class="color-1">
                                <svg width="21px" height="17px" viewBox="0 0 21 17" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="ui-icons" transform="translate(-109.000000, -67.000000)" fill="#22BC66">
                                            <polygon id="check" points="108.994099 76.4000626 115.987848 83.419577 129.407253 69.9978283 126.587674 67.1592372 115.987848 77.7490936 111.827057 73.5894775"></polygon>
                                        </g>
                                    </g>
                                </svg>
                                Français
                            </li>
                            <li class="color-1">
                                <svg width="21px" height="17px" viewBox="0 0 21 17" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="ui-icons" transform="translate(-109.000000, -67.000000)" fill="#22BC66">
                                            <polygon id="check" points="108.994099 76.4000626 115.987848 83.419577 129.407253 69.9978283 126.587674 67.1592372 115.987848 77.7490936 111.827057 73.5894775"></polygon>
                                        </g>
                                    </g>
                                </svg>
                                Mathematique
                            </li>
                            <li class="color-1">
                                <svg width="21px" height="17px" viewBox="0 0 21 17" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="ui-icons" transform="translate(-109.000000, -67.000000)" fill="#22BC66">
                                            <polygon id="check" points="108.994099 76.4000626 115.987848 83.419577 129.407253 69.9978283 126.587674 67.1592372 115.987848 77.7490936 111.827057 73.5894775"></polygon>
                                        </g>
                                    </g>
                                </svg>
                                Physique-chimie
                            </li>
                            <li class="color-1">
                                <svg width="21px" height="17px" viewBox="0 0 21 17" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="ui-icons" transform="translate(-109.000000, -67.000000)" fill="#22BC66">
                                            <polygon id="check" points="108.994099 76.4000626 115.987848 83.419577 129.407253 69.9978283 126.587674 67.1592372 115.987848 77.7490936 111.827057 73.5894775"></polygon>
                                        </g>
                                    </g>
                                </svg>
                                SVT
                            </li>
                        </ul>
                        <p class="">Choisissez 2 matières</p>
                        <a id="btn_txzcyrpok8p" class="btn" href="wa.me/0584258085">Nous Contacter</a>
                    </div>
                </div>
                <div class="pricingTierWrapper" style="box-shadow:0 2px 5px 0 rgba(0,0,0,0.15)">
                    <div class="pricingTier">
                        <h3 class="pricingTier__title color-1 weight-text-m">Plan Normal</h3>
                        <p class="pricingTier__description">
                            6 matières par mois
                        </p>
                        <div class="pricingTier__price a">
                            <span class="price color-1">3.000f</span>
                            <span class="interval">
                                <span class="intervalSlash">/</span>mois</span>
                        </div>
                        <ul class="pricingTier__features">
                            <li class="color-1">
                                <svg width="21px" height="17px" viewBox="0 0 21 17" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="ui-icons" transform="translate(-109.000000, -67.000000)" fill="#22BC66">
                                            <polygon id="check" points="108.994099 76.4000626 115.987848 83.419577 129.407253 69.9978283 126.587674 67.1592372 115.987848 77.7490936 111.827057 73.5894775"></polygon>
                                        </g>
                                    </g>
                                </svg>
                                Philosophie
                            </li>
                            <li class="color-1">
                                <svg width="21px" height="17px" viewBox="0 0 21 17" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="ui-icons" transform="translate(-109.000000, -67.000000)" fill="#22BC66">
                                            <polygon id="check" points="108.994099 76.4000626 115.987848 83.419577 129.407253 69.9978283 126.587674 67.1592372 115.987848 77.7490936 111.827057 73.5894775"></polygon>
                                        </g>
                                    </g>
                                </svg>
                                Histoire-Géographie

                            </li>
                            <li class="color-1">
                                <svg width="21px" height="17px" viewBox="0 0 21 17" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="ui-icons" transform="translate(-109.000000, -67.000000)" fill="#22BC66">
                                            <polygon id="check" points="108.994099 76.4000626 115.987848 83.419577 129.407253 69.9978283 126.587674 67.1592372 115.987848 77.7490936 111.827057 73.5894775"></polygon>
                                        </g>
                                    </g>
                                </svg>
                                Français
                            </li>
                            <li class="color-1">
                                <svg width="21px" height="17px" viewBox="0 0 21 17" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="ui-icons" transform="translate(-109.000000, -67.000000)" fill="#22BC66">
                                            <polygon id="check" points="108.994099 76.4000626 115.987848 83.419577 129.407253 69.9978283 126.587674 67.1592372 115.987848 77.7490936 111.827057 73.5894775"></polygon>
                                        </g>
                                    </g>
                                </svg>
                                Mathematique
                            </li>
                            <li class="color-1">
                                <svg width="21px" height="17px" viewBox="0 0 21 17" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="ui-icons" transform="translate(-109.000000, -67.000000)" fill="#22BC66">
                                            <polygon id="check" points="108.994099 76.4000626 115.987848 83.419577 129.407253 69.9978283 126.587674 67.1592372 115.987848 77.7490936 111.827057 73.5894775"></polygon>
                                        </g>
                                    </g>
                                </svg>
                                Physique-chimie
                            </li>
                            <li class="color-1">
                                <svg width="21px" height="17px" viewBox="0 0 21 17" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="ui-icons" transform="translate(-109.000000, -67.000000)" fill="#22BC66">
                                            <polygon id="check" points="108.994099 76.4000626 115.987848 83.419577 129.407253 69.9978283 126.587674 67.1592372 115.987848 77.7490936 111.827057 73.5894775"></polygon>
                                        </g>
                                    </g>
                                </svg>
                                SVT
                            </li>
                        </ul>

                        <p class="">Toutes ces matière</p>
                        <a id="btn_txzcyrpok8p" class="btn" href="wa.me/0584258085">Nous Contacter</a>

                    </div>
                </div>
                <div class="pricingTierWrapper" style="box-shadow:0 2px 5px 0 rgba(0,0,0,0.15)">
                    <div class="pricingTier">
                        <h3 class="pricingTier__title color-1 weight-text-m">Plan Cadeau</h3>
                        <p class="pricingTier__description">
                            6 matières pour le 1er trimestre
                        </p>
                        <div class="pricingTier__price a">
                            <span class="price color-1">5.000F</span>
                            <span class="interval">
                                <span class="intervalSlash">/</span>1er Trimestre</span>
                        </div>
                        <ul class="pricingTier__features">
                            <li class="color-1">
                                <svg width="21px" height="17px" viewBox="0 0 21 17" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="ui-icons" transform="translate(-109.000000, -67.000000)" fill="#22BC66">
                                            <polygon id="check" points="108.994099 76.4000626 115.987848 83.419577 129.407253 69.9978283 126.587674 67.1592372 115.987848 77.7490936 111.827057 73.5894775"></polygon>
                                        </g>
                                    </g>
                                </svg>
                                Philosophie
                            </li>
                            <li class="color-1">
                                <svg width="21px" height="17px" viewBox="0 0 21 17" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="ui-icons" transform="translate(-109.000000, -67.000000)" fill="#22BC66">
                                            <polygon id="check" points="108.994099 76.4000626 115.987848 83.419577 129.407253 69.9978283 126.587674 67.1592372 115.987848 77.7490936 111.827057 73.5894775"></polygon>
                                        </g>
                                    </g>
                                </svg>
                                Histoire-Géographie

                            </li>
                            <li class="color-1">
                                <svg width="21px" height="17px" viewBox="0 0 21 17" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="ui-icons" transform="translate(-109.000000, -67.000000)" fill="#22BC66">
                                            <polygon id="check" points="108.994099 76.4000626 115.987848 83.419577 129.407253 69.9978283 126.587674 67.1592372 115.987848 77.7490936 111.827057 73.5894775"></polygon>
                                        </g>
                                    </g>
                                </svg>
                                Français
                            </li>
                            <li class="color-1">
                                <svg width="21px" height="17px" viewBox="0 0 21 17" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="ui-icons" transform="translate(-109.000000, -67.000000)" fill="#22BC66">
                                            <polygon id="check" points="108.994099 76.4000626 115.987848 83.419577 129.407253 69.9978283 126.587674 67.1592372 115.987848 77.7490936 111.827057 73.5894775"></polygon>
                                        </g>
                                    </g>
                                </svg>
                                Mathematique
                            </li>
                            <li class="color-1">
                                <svg width="21px" height="17px" viewBox="0 0 21 17" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="ui-icons" transform="translate(-109.000000, -67.000000)" fill="#22BC66">
                                            <polygon id="check" points="108.994099 76.4000626 115.987848 83.419577 129.407253 69.9978283 126.587674 67.1592372 115.987848 77.7490936 111.827057 73.5894775"></polygon>
                                        </g>
                                    </g>
                                </svg>
                                Physique-chimie
                            </li>
                            <li class="color-1">
                                <svg width="21px" height="17px" viewBox="0 0 21 17" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="ui-icons" transform="translate(-109.000000, -67.000000)" fill="#22BC66">
                                            <polygon id="check" points="108.994099 76.4000626 115.987848 83.419577 129.407253 69.9978283 126.587674 67.1592372 115.987848 77.7490936 111.827057 73.5894775"></polygon>
                                        </g>
                                    </g>
                                </svg>
                                SVT
                            </li>
                        </ul>

                        <p class="">toutes ces matières</p>
                        <a id="btn_txzcyrpok8p" class="btn" href="wa.me/0584258085">Nous Contacter</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
