


<div id="testimonials" class="section section--grid section--center" style="background-color:rgb(17, 16, 16);padding-bottom:60px;padding-top:60px;--pdx-min-height:0px;--wr-max:1030px">
	<div class="wr titleAlign--" style="--image-size:1">
		<div class="titleWrapper">
			<h2 class="color-1 weight-title-h font-title section__title center">
			Ils parlent de nous.</h2>
			<p class="weight-text section__subtitle center" style="margin-bottom:50px">
				Découvrez ce que élèves disent de nous
			</p>
		</div>
		<div class="testimonials--horizontal image--">
			<div class="testimonial">
				<div class="rating">
					<div class="starRating" style="--rating:5;--color:#F6BA10"></div>
					<div class="numericRating">
						5 / 5
					</div>
				</div>
				<div class="testimonial__quote color-1">
					<p>
						Très au top, juste ce que je cherchais, les assos faite vite . je suis satisfais de Lnclass
					</p>
				</div>
				<a href="#" class="testimonial__about weight-text-m">Yobouet Jules - Tle D - Lycée Moderne de Tiassalé.</a>
			</div>
			<div class="testimonial">
				<div class="rating">
					<div class="starRating" style="--rating:4.5;--color:#F6BA10"></div>
					<div class="numericRating">
						4.5 / 5
					</div>
				</div>
				<div class="testimonial__quote color-1">
					<p>
						Site au Top, Trop meme. D'abord un Résumé de le léçon bien expliquée, une section speciale pour les notions de la léçons. et des exercices + corrigés.
					</p>
				</div>
				<a href="#" class="testimonial__about weight-text-m">Koffi konan Kan - Tle A2 - College Petit Champion d'Abobo</a>
			</div>
			<div class="testimonial">
				<div class="rating">
					<div class="starRating" style="--rating:5;--color:#F6BA10"></div>
					<div class="numericRating">
						5 / 5
					</div>
				</div>
				<div class="testimonial__quote color-1">
					<p>
					les explications en français facile, je recommande a 100%. depuis la 3e je ne comprenais rien en HG, FR, mais dieu merci j'ai trouvé la solution. Encore Merci aux créateurs de la plateforme

					</p>
				</div>
				<a href="#" class="testimonial__about weight-text-m">Clark Moderane - Tle A1 - Lycée Moderne de Divo </a>
			</div>
		</div>
	</div>
</div>
